@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Regular.ttf") format(("truetype"));
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Bold.ttf") format(("truetype"));
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Light.ttf") format(("truetype"));
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-ExtraLight.ttf")
    format(("truetype"));
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Thin.ttf") format(("truetype"));
  font-weight: 200;
}
@font-face {
  font-family: "Coolvetica";
  src: url("../public/fonts/coolvetica/coolvetica\ rg.otf") format(("opentype"));
  font-weight: 400;
}

body {
  margin: 0;
  background-image: url("../public/assets/Body-BG-Mobile.svg");
  background-color: #262d28;
  background-size: cover;
  background-repeat: no-repeat;
  @media only screen and (min-width: 768px) {
    background-image: url("../public/assets/Body-BG.svg");
    background-size: auto;
    background-repeat: no-repeat;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: "Poppins", "Coolvetica", Arial, Helvetica, sans-serif;
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 30px;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: "Coolvetica", "Poppins", Arial, Helvetica, sans-serif;
  line-height: 60px;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  strong {
    font-size: 36px;
    font-weight: bold;
  }
  @media only screen and (min-width: 1024px) {
    font-size: 48px;
    strong {
      font-size: 48px;
    }
  }
}
h2 {
  font-size: 28px;
  @media only screen and (min-width: 1024px) {
    font-size: 32px;
  }
}
h3 {
  font-size: 24px;
  font-weight: 400;
}
h4 {
  font-size: 20px;
}
strong {
  color: #829a87;
}
.container {
  padding-left: 5%;
  padding-right: 5%;
}
.btn {
  background-color: #b76e49;
  border-radius: 100px;
  border: none;
  width: fit-content;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    animation: animBtnHover 0.25s forwards ease-in;
  }
  &:active {
    animation: animBtnClick 0.25s forwards ease-in;
  }
  a {
    padding: 15px 30px;
    display: block;
    font-weight: 400;
  }
}
@keyframes animBtnHover {
  from {
    background-color: #b76e49;
  }
  to {
    background-color: #829a87;
  }
}
@keyframes animBtnClick {
  from {
    background-color: #829a87;
  }
  to {
    background: linear-gradient(140deg, #829a87 0%, #b76e49 100%);
  }
}
