body {
  margin: 0;
  font-family: "Coolvetica";
  src: url("./fonts/coolvetica/coolvetica\ rg.otf") format("otf");

  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format(("ttf"));
  src: url("./fonts/Poppins/Poppins-Bold.ttf") format(("ttf"));
  src: url("./fonts/Poppins/Poppins-Light.ttf") format(("ttf"));
  src: url("./fonts/Poppins/Poppins-ExtraLight.ttf") format(("ttf"));
  src: url("./fonts/Poppins/Poppins-Thin.ttf") format(("ttf"));

  background-image: url("../public/assets/BG-Home.svg");
  background-color: #262d28;
  // background-size: ;
  // background-position: center;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: "Poppins", "Coolvetica", Arial, Helvetica, sans-serif;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 30px;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: "Coolvetica", "Poppins", Arial, Helvetica, sans-serif;
  line-height: 60px;
}
h1 {
  font-size: 36px;
  @media only screen and (min-width: 1024px) {
    font-size: 48px;
  }
}
h2 {
  font-size: 28px;
  @media only screen and (min-width: 1024px) {
    font-size: 32px;
  }
}
h3 {
  font-size: 24px;
  font-weight: 400;
}
h4 {
  font-size: 20px;
}
strong {
  color: #829a87;
}
.container {
  padding-left: 5%;
  padding-right: 5%;
}
.btn {
  background-color: #b76e49;
  border-radius: 100px;
  border: none;
  width: fit-content;
  &:hover {
    animation: animBtnHover 0.25s forwards ease-in;
  }
  &:active {
    animation: animBtnClick 0.25s forwards ease-in;
  }
  a {
    padding: 15px 30px;
    display: block;
  }
}
@keyframes animBtnHover {
  from {
    background-color: #b76e49;
  }
  to {
    background-color: #829a87;
  }
}
@keyframes animBtnClick {
  from {
    background-color: #829a87;
  }
  to {
    background: linear-gradient(140deg, #829a87 0%, #b76e49 100%);
  }
}
